.single-product{
    margin:50px 350px;
}

.row1{
    display: flex;
}

.single-image{
    background-color: #f3fbf7;
    max-width: 650px;
    /* min-width: 650px; */
    margin-right: 40px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-image>img{
    width: 60%;
    height: 700px;
    object-fit: contain;
}

.product-name{
    font-size: 40px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 30px;
}


.desc{
    color: rgb(121, 118, 118);
}

.product-count{
    box-shadow: 0px 0px 5px 0px rgb(167, 158, 158);
    max-width: 400px;
}

.product-dtl{
    max-width: 400PX;
}

.price{
    display: flex;
    padding: 15px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}
.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
}
.review>span{
    margin-left: -140px;
    margin-bottom: 2px;
}

.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 15px 20px
}

.row1 h6{
    color: rgb(121, 118, 118);
}

.row1 span{
    font-weight: 600;
}

.cart-select{
    width: 70px;
    height: 30px;
    border: none;
    background-color:rgb(235, 235, 235) ;
    border-radius: 3px;

}

.add-to-cart{
    background-color: black;
    height: 50px;
    box-shadow: 0px 0px 5px 0px rgb(167, 158, 158);
    cursor: pointer;
    transition: 0.2s;

}

.add-to-cart-btn{
    padding: 0px 150.5px;
    background-color: black;
    height: 50px;
    box-shadow: 0px 0px 5px 0px rgb(167, 158, 158);
    cursor: pointer;
    transition: 0.2s;
    border: none;
    color: white;
}

.add-to-cart-btn:hover{
    background-color: #2874f0;
    transition: 0.2s;
}

.add-to-cart-text{
    text-decoration: none;
    color: white;
}

.noreview{
    display: flex;
}

.bottom-left{
    max-width: 670px;
    margin-right: 30px;
    margin-top: 30px;
}

.customer-review{
    max-width: 800px;
    margin-top: 30px;
}

.customer-review>h6{
    color: rgb(121, 118, 118);
    font-size: 20px;
}

.select-rating{
    display: flex;
    flex-direction: column;
}

.select-rating>strong{
    font-size: 18px;
    margin-bottom: 8px;
}

.comment{
    display: flex;
    flex-direction: column;
}

.comment>strong{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.choose{
    border: none;
    outline: none;
    background-color: #f3fcfb;
    padding: 10px;
    width: 380px;
    border-radius: 15px;
}

.text-area{
    border: none;
    outline: none;
    background-color: #f3fcfb;
    padding: 10px;
    width: 380px;
    border-radius: 15px;
}

.sbmt-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 162px;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.2s;
}

.sbmt-btn:hover{
    background-color: #2874f0;
    transition: 0.2s;
}

.please-login{
    margin-top: 20px;
    max-width: 500px;
}

.please-login-strong{
    color: black;
    text-decoration: none;
}

.warning{
    margin-bottom: 50px;
    margin-left: 460px;  
    background-color: rgb(210, 91, 91);
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: cursive;
}





